<!--
    text-align: center;
    margin-top: 10px;
    border: 1px solid var(--boha-neutral-gray-medium);
    border-radius: 5px;
    min-height: 300px;
    width: 100%;

    h3
    font-size: 1.75rem;
    /* background-color: var(--boha-primary-light-blue); */
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--boha-neutral-gray-medium);
    padding: 5px;

-->
<div class="boha-child-page">
  <pop-up-message>
  </pop-up-message>
  <div class="boha-info-panel form-group" >
      <div class="boha-info-panel-input-container">
          <div class="row" class="boha-info-panel-header-row">
              <div class="col" style="padding: 0px;">
                  Avahi service configuration
              </div>
        </div>
          <div class="row boha-info-panel-input-row">
              <div class="col-3 boha-info-panel-label-col"> 
              Service Name:
              </div>
              <div class="col-9">
                    <input type="text" placeholder="Enter Avahi Service Name" 
                    aria-label="Avahi Service Label" class="form-control" [(ngModel)]="avahiServiceName" 
                    (keydown)="avahiServiceNameKeyEvent($event)"/>
              </div>
          </div>
          <div class="row" style="line-height: 55px; height: 55px;">
              <div class="col" style="margin-top: 10px;">
                  <button class="btn boha-btn-primary" type="submit"  style="float: right; min-width: 100px;" 
                  (click)="saveAvahiServiceInformation()" [disabled]="!avahiSettingsTouched"><i class="fad fa-save"></i>&nbsp;Save</button>
              </div>
          </div>
      </div>
  </div>
</div>




