:root{
  
    --dark-tools-background-color: #535353;
    --dark-tools-foreground-color:#fff;
    --dark-tools-outline-color:#ACACAC;
    --dark-workarea-background-color:#606060;
    --dark-workarea-background-shadow-color: #424242;
    
    --transact-blue:#0033A0;
    --main-blue-color: #4793FF;
    --dark-blue-gray: #3B5998;
    --boha-primary-dark-blue:#112244;
    --boha-primary-medium-blue:#0033A0;
    --boha-primary-natural-blue:#1D5DCB;
    --boha-primary-light-blue:#1A98FF;
    --ec-primary-blue:#1199FF;
    
    --ec-primary-violet:#0030A0;
    --ec-secondary-violet:#9400D3;

    --ec-primary-orange:#FFC800;  
    --boha-secondary-orange: #F7A11A;
    
    --boha-primary-red: #DD0000;
    --boha-secondary-red: #FF3300;

    --ec-primary-yellow: #FFD700;
    --boha-secondary-yellow: #FFD033;

    --boha-secondary-green: #00DD00;
    --ec-primary-green: #32CD32;
    --smart-dark-green: #71a06a;

    --ec-primary-dark: #001122;
    --ec-secondary-dark: #1E2A3B;
    --ec-neutral-gray-primary-dark: #374355;
    --ec-neutral-gray-secondary-dark: #53657D;
    --ec-neutral-gray-primary-medium:#8393A7;
    --ec-neutral-gray-secondary-medium:#ADB9C9;

    --boha-neutral-gray-dark:#223344;
    --boha-neutral-gray-medium:#54657E;
    --boha-neutral-gray-light:#C0CCD9;
    --boha-neutral-gray-very-light:#F3F6F9;
   
    --dark-gray-header: #333434;
    --ec-neutral-blue-gray: #3a3f51; /*This is the side bar color*/
    
  }
  .boha-toggle-primary{
   color:var( --boha-primary-natural-blue); 
   vertical-align: middle; 
   display: inline
  }
  .boha-btn-primary{
     background-color: var( --boha-primary-natural-blue);
     color: var(--boha-neutral-gray-very-light);
  }
  .boha-btn-primary:active{
   background-color: var(--boha-primary-light-blue);
   color: var(--boha-neutral-gray-very-light);
}
.boha-btn-primary :visited{
   color: var(--boha-neutral-gray-very-light);;
}
  .boha-nav-bar{
    background-color: var(--boha-primary-dark-blue);
    color: var(--boha-neutral-gray-light);
  }
  .boha-nav-bar a{
      color: var(--boha-neutral-gray-light);
  }
  .boha-body{
      background-color: var(--boha-neutral-gray-very-light);
      color: var(--boha-neutral-gray-dark);
      overflow-x: hidden;
  }
.boha-logo-container{
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
}
.boha-logo{
    max-height: 100%;
}
.boha-page-header{
   width: 100%;
   height: 40px;
   background-color: var(--boha-primary-medium-blue);
   color: var(--boha-neutral-gray-light);
   text-align: center;
   line-height: 40px;
   text-overflow: ellipsis;
}
.boha-child-page{
   width: 100%; 
   height: 100%;
   color:var(--boha-neutral-gray-dark);
}
.menu-background{
   width: 100%; 
   height: 100%; 
   position: fixed; 
   top: 0px; left: 0px; 
   opacity: .5;
   display:none;
   border: 1px solid var(--boha-primary-light-blue);
   color: var(--boha-primary-light-blue);
   background-color: var(--boha-neutral-gray-medium);
}
.menu-item,
.menu-open-button {
   background-color: var(--boha-neutral-gray-very-light);
   border: 1px solid var(--boha-primary-light-blue);
   color: var(--boha-primary-light-blue);
   border-radius: 100%;
   width: 60px;
   height: 60px;
   margin-left: -30px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 60px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
   
}
.menu-item-child{
   border: 1px solid var(--boha-primary-light-blue);
   color: var(--boha-primary-light-blue);
   box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     
}
.menu-open {
   display: none;
 
}

.lines {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}
.circular-menu{
    position: fixed;
    left: calc(100% - 70px);
    top: calc(100% - 90px);
    margin: auto;
    bottom: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
}

.menu-item:hover {
   color:var(--boha-primary-gray-very-light);
   text-shadow: none;
   background-color: var(--boha-primary-light-blue);
}

a.menu-item:nth-child(4) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

a.menu-item:nth-child(5) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

a.menu-item:nth-child(6) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

a.menu-item:nth-child(7) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

a.menu-item:nth-child(8) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: -2px 2px 3px 2px rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
   -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

/*
Radius or distance = 240 x 5 = 22.5 deg each step
Formula in the form (x,y) transformation = Radius or distance from main menu 
cos(theta) or adj/hyp, sin(theta) or opp/hyp, theta = 90/# of items
(240, 0) -90
(222, 92) 22.5 deg
(170, 170) 45 deg
(92,222) 67.5 
(0, 240) 90
*/
.menu-open:checked ~ .menu-background{
   display: block;
}
.menu-open:checked ~ .menu-background{
   display: block;
}
.menu-open:checked ~ a.menu-item:nth-child(4) {
    --x:-240px;
    --y:0px;
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;
   -webkit-transform: translate3d(var(--x), var(--y), 0);
   transform: translate3d(var(--x), var(--y), 0);
}
.menu-open:checked ~ a.menu-item:nth-child(5) {
    --x:-222px;
    --y:-92px;
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;
   -webkit-transform: translate3d(var(--x), var(--y), 0);
   transform: translate3d(var(--x), var(--y), 0);
}

.menu-open:checked ~ a.menu-item:nth-child(6) {
    --x:-170px;
    --y:-170px;
   
    transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(var(--x), var(--y), 0);
   transform: translate3d(var(--x), var(--y), 0);
}

.menu-open:checked ~ a.menu-item:nth-child(7) {
    --x:-92px;
    --y:-222px;
   transition-duration: 480ms;
   -webkit-transition-duration: 480ms;
   -webkit-transform: translate3d(var(--x), var(--y), 0);
   transform: translate3d(var(--x), var(--y), 0);
}

.menu-open:checked ~ a.menu-item:nth-child(8) {
    --x:-0px;
    --y:-240px;
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(var(--x), var(--y), 0);
   transform: translate3d(var(--x), var(--y), 0);
}

.credit {
   margin: 24px 20px 120px 0;
   text-align: right;
   color: #EEEEEE;
}

.credit a {
   padding: 8px 0;
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;
}

.credit a:hover {
   text-decoration: underline;
}

.boha-info-panel{
   text-align: center;
   margin-top: 10px;
   border: 1px solid var(--boha-neutral-gray-light);
   border-radius: 5px;
   min-height: 175px;
   width: 100%;
   box-shadow: -2px 4px 3px var(--boha-neutral-gray-light);
   background-color: white;
   padding: 0px 15px 0px 15px;
}
.boha-info-panel h3,h4,h5,h6{
   font-size: 1.75rem;
   /* background-color: var(--boha-primary-light-blue); */
   border-radius: 5px 5px 0 0;
   border-bottom: 1px solid var(--boha-neutral-gray-medium);
   padding: 5px;
}
.boha-info-list{
   width: 100%;
   text-align: left;
   padding-top: 15px;
   padding-bottom: 15px;
}

.boha-editable-drop-down-button{
   font-size:x-large; 
   color: var(--boha-primary-natural-blue); 
   cursor:pointer;
}
.boha-editable-password-button{
   font-size:x-large; 
   color: var(--boha-primary-natural-blue); 
   cursor:pointer;
}
.boha-input-container{
   width: 100%; 
   overflow: hidden;
   border-radius: 5px;
   border: 1px solid;
   border-radius: 5px;
   margin-bottom: 5px;
   position: absolute;
   top: 37px;
   left: 0px;
   z-index: 2400;
   background-color:var(--boha-neutral-gray-very-light);
  
}
.boha-input-container-header{
   width: 100%;
   height: 35px;
   background-color:var(--boha-neutral-gray-very-light); 
   color: var(--boha-primary-dark-blue);
}
.boha-input-scroll{
   width: 100%;
   max-height:300px; 
   overflow: hidden;
   max-height:300px; 
   overflow-y: scroll;
  
}
.boha-input-container-col{
   float: left; 
   overflow: hidden; 
   display: flex;
   white-space: nowrap
}
.boha-input-scroll > ul{
   list-style-type: none;
   padding: 0px; 
   width: 100%;
   color: var(--boha-neutral-gray-very-light);
}
.boha-input-scroll > ul > li {
   background-color: var(--boha-neutral-gray-medium);
   padding: 5px;
   /*border-bottom: 1px solid var(--boha-neutral-gray-very-light); */
   width: 100%; height: 45px;
   cursor: pointer;
}
.boha-input-scroll > ul > li:hover{
   background-color: var(--boha-primary-natural-blue);
   color: var(--boha-neutral-gray-very-light); 
}
.boha-input-scroll > ul > li::selection{
   background-color: var(--boha-neutral-gray-very-light);
   color: var(--boha-primary-natural-blue); 
}
.boha-input-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.boha-input-scroll::-webkit-scrollbar
{
  width: 12px;
  background-color:var(--boha-neutral-gray-light);
}

.boha-input-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--boha-neutral-gray-dark);
}

.boha-centered-panel-row{
   width: 100%; 
   height:25px;
   /*margin-left: calc(50% - 160px);*/
}
.boha-centered-panel-label-col{
   width: 140px;
   float: left;
   font-weight: 600;
}
.boha-centered-panel-text-col{
   width: 175px;
   float: left;
}

.boha-relative-internal-container{
   width: 100%;
   height:100%; 
   position:relative;
   text-align: left;
   
}
.boha-overlay-action-panel{
   width: 100%;
   background-color: white; 
   height: 100%;
   position: absolute;
   z-index: 150;
   text-align: center;
   font-weight: 700;
}

.boha-info-panel-input-row{
   line-height: 40px; 
   height: 40px;
   margin-top:5px;
   overflow: hidden;
}
.boha-info-panel-label-col{
   font-weight: 600;
   text-overflow: ellipsis;
}
.boha-info-panel-input-container{
   width: 100%;
   text-align: left;
   padding:5px;
   min-height: 125px;
   position: relative;
   padding: 5px;
}
.boha-info-panel-header-row{
   line-height: 35px;
   text-align: left;
   height: 35px;
   padding-left: 0px;
   font-weight: 700;
   margin-bottom: 3px;
}

.boha-input-row{
   line-height: 40px; 
   height: 40px;
   margin-top:3px; 
   padding: 0px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.boha-input-error{
   border: 1px solid var(--boha-primary-red);
}
