<!--The content below is only a placeholder and can be replaced.-->
<!--<router-outlet></router-outlet>-->
<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>