<!--
    text-align: center;
    margin-top: 10px;
    border: 1px solid var(--boha-neutral-gray-medium);
    border-radius: 5px;
    min-height: 300px;
    width: 100%;

    h3
    font-size: 1.75rem;
    /* background-color: var(--boha-primary-light-blue); */
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--boha-neutral-gray-medium);
    padding: 5px;

-->
<div class="boha-child-page">
  <pop-up-message>
  </pop-up-message>
  <modal-confirmation>

    </modal-confirmation>
  <div class="boha-info-panel form-group" >
      <div class="boha-info-panel-input-container">
          <div class="row" class="boha-info-panel-header-row">
              <div class="col" style="padding: 0px;" >
                  Proxy
              </div>
        </div>
          <div class="row boha-info-panel-input-row">
              <div class="col-3 boha-info-panel-label-col"> 
              Proxy:
              </div>
              <div class="col-9">
                    <input type="text" placeholder="Proxy Server" 
                    aria-label="Proxy Server Label Label" class="form-control" [(ngModel)]="proxySetting" (keydown)="proxySettingKeyEvent($event)"/>
              </div>
          </div>
          <div class="row" style="line-height: 55px; height: 55px;">
              <div class="col" style="margin-top: 10px;">
                  <button class="btn boha-btn-primary" type="submit"  style="float: right; min-width: 100px;" 
                  (click)="saveProxySettings()" [disabled]="!proxySettingsTouched"><i class="fad fa-save" ></i>&nbsp;Save</button>
              </div>
          </div>
      </div>
     
  </div>
  <!--------------------------------AP Mode------------------------->
  <div class="boha-info-panel form-group">
    <div class="boha-info-panel-input-container">
        <div class="row" class="boha-info-panel-header-row">
            <div class="col" style="padding: 0px;">
                (AP) Networking
                <a (click)="toggleAPManual()" style="float: right;position:relative" id="ap-manual-toggle">
                    <span style="font-weight: 400;position: absolute;left:-70px;top:-5px" *ngIf="apManualIP">Manual&nbsp;&nbsp;</span>
                    <span style="font-weight: 400;position: absolute;left:-70px;top:-5px" *ngIf="!apManualIP">Dynamic&nbsp;&nbsp;</span>
                   <i class="fad fa-2x fa-toggle-on" *ngIf="apManualIP" style="color: var( --boha-primary-natural-blue);"></i> 
                    <i class="fad fa-2x fa-toggle-off" *ngIf="!apManualIP" style="color:var(--boha-neutral-gray-medium);"></i> 
                </a>
            </div>
        </div>
        <div class="row boha-info-panel-input-row">
            <div class="col-3 boha-info-panel-label-col"> 
            IP Address:
            </div>
            <div class="col-9">
                <input type="text" placeholder="###.###.###.###" 
                aria-label="AP IP Address Label" class="form-control" [(ngModel)]="apIPAddress" 
                (keydown)="apAddressKeyEvent($event)" id="system-ap-ip-address"
                [disabled]="!apManualIP" [ngClass]="{'boha-input-error' : apIPFieldError}"/>

            </div>
            
        </div>
        <!--ERROR ROW-->
        <div class="row" style="color: var(--boha-primary-red)" *ngIf="apIPFieldError">
            <div class="col-3">**********</div><div class="col-9" >Invalid IP address format detected.</div>
        </div>
        <div class="row boha-info-panel-input-row">
            <div class="col-3 boha-info-panel-label-col"> 
            Subnet:
            </div>
            <div class="col-9">
                <input type="text" placeholder="###.###.###.###" 
                aria-label="AP IP Address Label" class="form-control" [(ngModel)]="apSubnetAddress"
                (keydown)="apAddressKeyEvent($event)"  
                [disabled]="!apManualIP" [ngClass]="{'boha-input-error' : apSubnetFieldError}"/>
            </div>
        </div>
        <!--ERROR ROW-->
        <div class="row" style="color: var(--boha-primary-red)" *ngIf="apSubnetFieldError">
            <div class="col-3">**********</div><div class="col-9" >Invalid subnet address format detected.</div>
        </div>
        <div class="row boha-info-panel-input-row">
            <div class="col-3 boha-info-panel-label-col"> 
            Default Gateway:
            </div>
            <div class="col-9">
                <input type="text" placeholder="###.###.###.###" 
                aria-label="AP IP Address Label" class="form-control" [(ngModel)]="apGatewayAddress"
                 (keydown)="apAddressKeyEvent($event)"  
                [disabled]="!apManualIP" [ngClass]="{'boha-input-error' : apGatewayFieldError}"/>
            </div>
        </div>
        <!--ERROR ROW-->
        <div class="row" style="color: var(--boha-primary-red)" *ngIf="apGatewayFieldError">
            <div class="col-3">**********</div><div class="col-9" >Invalid gateway address format detected.</div>
        </div>
        <div class="row" style="line-height: 55px; height: 55px;">
            <div class="col" style="margin-top: 10px;">
                <button class="btn boha-btn-primary" type="submit"  style="float: right; min-width: 100px;" 
                (click)="preCheckConnectionData('ap')" [disabled]="!apNetworkingSettingsTouched"><i class="fad fa-save" ></i>&nbsp;Save</button>
            </div>
        </div>
    </div>
  </div>
  <!--------------------------------Infrastructure Mode------------------------->
  <div class="boha-info-panel form-group">
    <div class="boha-info-panel-input-container">
        <div class="row" class="boha-info-panel-header-row">
            <div class="col" style="padding: 0px;">
                (IS) Networking
                <a (click)="toggleISManual()" style="float: right;position:relative" id="is-manual-toggle">
                    <span style="font-weight: 400;position: absolute;left:-70px;top:-5px" *ngIf="isManualIP">Manual&nbsp;&nbsp;</span>
                    <span style="font-weight: 400;position: absolute;left:-70px;top:-5px" *ngIf="!isManualIP">Dynamic&nbsp;&nbsp;</span>
                    <i class="fad fa-2x fa-toggle-on" *ngIf="isManualIP" style="color: var( --boha-primary-natural-blue);"></i> 
                    <i class="fad fa-2x fa-toggle-off" *ngIf="!isManualIP" style="color:var(--boha-neutral-gray-medium);"></i> 
                </a>
            
            </div>
    
        </div>
        <div class="row boha-info-panel-input-row">
            <div class="col-3 boha-info-panel-label-col"> 
            IP Address:
            </div>
            <div class="col-9">
                <input type="text" placeholder="###.###.###.###" 
                aria-label="AP IP Address Label" class="form-control" [(ngModel)]="isIPAddress" 
                 (keydown)="isAddressKeyEvent($event, isIPAddress, setISIPAddress)"
                [disabled]="!isManualIP" [ngClass]="{'boha-input-error' : isIPFieldError}"/>
            </div>
        </div>
        <!--ERROR ROW-->
        <div class="row" style="color: var(--boha-primary-red)" *ngIf="isIPFieldError">
            <div class="col-3">**********</div><div class="col-9" >Invalid IP address format detected.</div>
        </div>
        <div class="row boha-info-panel-input-row">
            <div class="col-3 boha-info-panel-label-col"> 
            Subnet:
            </div>
            <div class="col-9">
                <input type="text" placeholder="###.###.###.###" 
                aria-label="AP IP Address Label" class="form-control" [(ngModel)]="apSubnetAddress" 
                (keydown)="isAddressKeyEvent($event)"
                [disabled]="!isManualIP" [ngClass]="{'boha-input-error' : isSubnetFieldError}"/>
            </div>
        </div>
        <!--ERROR ROW-->
        <div class="row" style="color: var(--boha-primary-red)" *ngIf="isSubnetFieldError">
            <div class="col-3">**********</div><div class="col-9" >Invalid subnet address format detected.</div>
        </div>
        <div class="row boha-info-panel-input-row">
            <div class="col-3 boha-info-panel-label-col"> 
            Default Gateway:
            </div>
            <div class="col-9">
                <input type="text" placeholder="###.###.###.###" 
                aria-label="AP IP Address Label" class="form-control" [(ngModel)]="isGatewayAddress" 
                (keydown)="isAddressKeyEvent($event)"  
                [disabled]="!isManualIP" [ngClass]="{'boha-input-error' : isGatewayFieldError}"/>
            </div>
        </div>
        <!--ERROR ROW-->
        <div class="row" style="color: var(--boha-primary-red)" *ngIf="isGatewayFieldError">
            <div class="col-3">**********</div><div class="col-9" >Invalid gateway address format detected.</div>
        </div>
        <div class="row" style="line-height: 55px; height: 55px;">
            <div class="col" style="margin-top: 10px;">
                <button class="btn boha-btn-primary" type="submit"  style="float: right; min-width: 100px;" 
                (click)="preCheckConnectionData('is')" [disabled]="!isNetworkingSettingsTouched"><i class="fad fa-save" ></i>&nbsp;Save</button>
            </div>
        </div>
    </div>
  </div>
  
</div>




