<!--
    text-align: center;
    margin-top: 10px;
    border: 1px solid var(--boha-neutral-gray-medium);
    border-radius: 5px;
    min-height: 300px;
    width: 100%;

    h3
    font-size: 1.75rem;
    /* background-color: var(--boha-primary-light-blue); */
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--boha-neutral-gray-medium);
    padding: 5px;

-->
<div class="boha-child-page">
    <pop-up-message>
    
    </pop-up-message>
    <modal-confirmation>

    </modal-confirmation>
    <!---------------AP CONNECTIVITY-------------------------->
  <div class="boha-info-panel" >
    <div class="boha-relative-internal-container">
        <div class="row" style="line-height: 40px; height: 40px;margin-top:5px">
            <div class="col" >
                <i class="fas fa-slash fa-lg" *ngIf="!apConnectionOn && !wifiNetworksRefreshing"></i>
                <i class="fas fa-router fa-lg" *ngIf="apConnectionOn && !wifiNetworksRefreshing"></i>
                <i class="fad fa-spinner-third fa-spin fa-lg" *ngIf="wifiNetworksRefreshing"></i>
                &nbsp;&nbsp;
                <span style="font-weight: 700;">
                    {{apConnectionSSID}}
                    <span *ngIf="apDeviceMissingError" style="color:var(--boha-secondary-red)">&nbsp;AP device information is missing.</span>
                </span>
            </div>
        </div>
        <div class="row boha-input-row" >
            <div class="col-2"> 
                SSID:
            </div>
            <div class="col-10">
                <input type="text" placeholder="Broadcast Name" 
                aria-label="Broadcast Name" class="form-control" [(ngModel)]="apConnectionSSID" (keydown)="apFieldKeyEvent($event)"/>
            
            </div>
        </div>
        <div class="row boha-input-row">
            <div class="col-2"> 
                Password:
            </div>
            <div class="col-10">
                <input type="password" placeholder="Enter Password" 
                aria-label="Password" class="form-control" [(ngModel)]="apConnectionPassword1" (keydown)="apFieldKeyEvent($event)"/>
            
            </div>
        </div>
        <div class="row boha-input-row">
            <div class="col-2"> 
                Re-enter:
            </div>
            <div class="col-10">
                <input type="password" placeholder="Re-enter Password" 
                aria-label="Re-enter" class="form-control" [(ngModel)]="apConnectionPassword2" (keydown)="apFieldKeyEvent($event)"/>
               
            </div>
        </div>
        <div class="row boha-input-row" style="margin-top: 5px; min-height: 50px;">
            <div class="col">
                <a (click)="deleteConnection('ap')" style="float:left" *ngIf="apIPAddress != '' && apConnectionOn"><i class="fad fa-trash fa-lg"></i></a>
                <button class="btn boha-btn-primary" style="float: right; min-width: 100px;" 
                (click)="preCheckConnectionData('ap')" [disabled]="!apConnectionSettingsTouched"><i class="fad fa-save"></i>&nbsp;Save</button>
            </div>
        </div>
    </div>
  </div>
   <!---------------INFRASTRUCTURE CONNECTIVITY-------------------------->
   <div class="boha-info-panel">
    <div class="info-wifi-list">
        <div class="row">
            <div class="col">
                <span>
                    <i class="fas fa-wifi-slash fa-lg" *ngIf="!isConnectionOn && !wifiNetworksRefreshing"></i>
                    <i class="fas fa-wifi fa-lg" *ngIf="isConnectionOn && !wifiNetworksRefreshing"></i>
                    <i class="fad fa-spinner-third fa-spin fa-lg" *ngIf="wifiNetworksRefreshing"></i>
                    &nbsp;
                    <span style="font-weight: 700;">{{isConnectionSSID}}</span>
                    <span *ngIf="isDeviceMissingError" style="color:var(--boha-secondary-red)">&nbsp;IS device information is missing.</span>
                    <a style="float: right;margin-right: 10px;" (click)="getWifiNetworks(isDevice)"><i class="fad fa-sync"></i>&nbsp;Refresh</a>
                </span>
            </div>
        </div>
    </div>
    <div class="info-wifi-list">
        <div class="row boha-input-row" style="overflow: visible">
            <div class="col-2">
                SSID
            </div>
            <div class="col-10">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="WiFi SSID" aria-label="Wifi SSID" aria-describedby="basic-addon2" 
                    [(ngModel)]="wifissid" [disabled]="!isConnectionWifi" (keydown)="isSSIDKeyEvent($event)">
                    <div class="input-group-append">
                        <span class="input-group-text boha-editable-drop-down-button" id="wifi-input-drop-down-button"  
                        (click)="dropDownWifiSelection(!wifidropdown)" >
                            <i class="fad fa-arrow-alt-circle-down"></i>
                        </span>
                    </div>
                    <div  class="boha-input-container" *ngIf="wifidropdown" style="border-radius: none;">
                        <div class="boha-input-container-header">
                            <div class="boha-input-container-col" style="width: 50%;">SSID</div>
                            <div class="boha-input-container-col" style="width: 20%;">Signal</div>
                            <div class="boha-input-container-col" style="width: 25%;">Security</div>
                        </div>
                        <div class="boha-input-scroll">
                            <ul >
                                <li *ngFor="let network of networks" >
                                    <a (click)="selectWifiNetwork(network.ssid)" style="width:100%; overflow: hidden;">
                                        <div class="boha-input-container-col" style="width: 50%;">
                                            <i class="fas fa-lg "  [ngClass]="{'fa-signal-slash' : network.bars == 0, 'fa-signal-1' : network.bars == 1, 
                                            'fa-signal-2' : network.bars == 2, 'fa-signal-3' : network.bars  == 3, 'fa-signal-4' : network.bars == 4}"></i>
                                            &nbsp;{{network.ssid == '' ? 'NONE' : network.ssid}}
                                        </div>
                                        <div class="boha-input-container-col" style="width: 20%;">{{network.signal_level}}</div>
                                        <div class="boha-input-container-col"  style="width: 25%;">{{network.security == '' ? 'NA' : network.security}}</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="row boha-input-row">
            <div class="col-2">
                Password
            </div>
            <div class="col-10">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="WiFi Password" aria-label="Wifi Password" 
                    [(ngModel)]="wifipassword" id="input-wifi-password" [disabled]="!isConnectionWifi">
                    <div class="input-group-append">
                        <span class="input-group-text boha-editable-password-button" id="wifi-input-password-button"  (click)="onShowPassword(!showPassword)">
                            <i class="fad fa-eye" *ngIf="showPassword"></i>
                            <i class="fad fa-eye-slash" *ngIf="!showPassword"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row boha-input-row" style="margin-top: 5px; min-height: 50px;">
          <div class="col">
            <a (click)="deleteConnection('is')" style="float:left" *ngIf="isIPAddress != '' && isConnectionOn"><i class="fad fa-trash fa-lg"></i></a> 
            <button class="btn boha-btn-primary" style="float: right; min-width: 100px;" 
            (click)="preCheckConnectionData('is')" [disabled]="!isConnectionWifi || !isConnectionSettingsTouched"><i class="fad fa-plug"></i>&nbsp;Connect</button>
          </div>
        </div>
    </div>
</div>
</div>




