<div class="boha-child-page">
  <pop-up-message>
    
  </pop-up-message>
  <div class="container">
      <form name="login-form">
        <div class="login-container">
         <div class="row">
            <div class="col">
              <div class="form-group">
                <i class="fas fa-user fa-lg"></i>&nbsp;<label id="login-username-label" style="font-weight: 600;">Username</label>
                <input type="text" name="login-username" [(ngModel)]="username" required class="form-control" placeholder="username">
                <div *ngIf="missingusername" class="error" id="login-missing-username-error">Missing the username!</div>
              </div>
            </div>
          </div>
          <div class=row>
            <div class="col">
              <div class="form-group">
                <i class="fas fa-key fa-lg"></i>&nbsp;<label id="login-password-label" style="font-weight: 600;">Password</label>
                <input type="password" name="login-password" [(ngModel)]="password" required class="form-control" placeholder="password">
                <div *ngIf="missingpassword" class="error" id="missing-password-error">Missing the password!</div>
              </div>
            </div>
          </div>  
          <div class="row">
              <div class="col">
              <div class="form-group">
                <button (click)="authenticate($event)"  class="btn boha-btn-primary" style="float: right;">Login</button><!--[disabled]="!verifyInputs()" -->
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        
        </div>
      </form>
    </div>
</div>
