.login-container{
    margin-top: 10px;
    /*new*/
    /*max-width: 380px*/
    /*margin-left: calc(25% - 170px)*/
    margin-top: 10px;
    box-shadow: -2px 4px 3px var(--boha-neutral-gray-light);
    background-color:  white;
    border: 1px solid var(--boha-neutral-gray-light);
    border-radius: 5px;
    padding: 20px;
  }
  
  .error{
    color: var(--boha-secondary-red); 
    font-size: 12px; 
    padding-top: 4px
  }