.boha-modal-background{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 415;
    width: 100%; 
    height: calc(100% + 50px); 
    text-align: center;
    vertical-align: middle;
    background-color: rgba(34, 51, 68, .65);
    color:white;
    overflow: hidden;
    /*padding-left: 5%;
    padding-right: 5%;*/

  }
  .boha-modal-box{
    width: 100%;
    position: relative;
    margin-top: 50%;
    min-height: 125px;
    background-color: var(--boha-neutral-gray-very-light);
    text-align: left;
    padding: 10px;
    color: var(--boha-neutral-gray-dark);
    border: 1px solid var(--boha-neutral-gray-medium);
    /* box-shadow: -2px 4px 3px var(--boha-neutral-gray-dark); */
   
  }
  .boha-modal-header{
    font-weight: 700;
    height: 35px;
    border-bottom: 1px solid var(--boha-primary-natural-blue);
    margin-bottom: 10px;
  }
  .boha-modal-button{
    min-height: 35px;
    min-width: 100px;
    float: right;
    margin-left: 10px;
    background-color: var( --boha-primary-natural-blue);
    color: var(--boha-neutral-gray-very-light);
  }
  .boha-modal-message-area{
    min-height: 50px;
    margin-bottom: 10px;
    padding: 15px;
  }
