<!--
    text-align: center;
    margin-top: 10px;
    border: 1px solid var(--boha-neutral-gray-medium);
    border-radius: 5px;
    min-height: 300px;
    width: 100%;

    h3
    font-size: 1.75rem;
    /* background-color: var(--boha-primary-light-blue); */
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--boha-neutral-gray-medium);
    padding: 5px;

-->
<div class="boha-child-page">
    <pop-up-message>
    </pop-up-message>
    <div class="boha-info-panel form-group" >
        <div class="boha-info-panel-input-container" style="height: 285px">
            <div class="row boha-info-panel-header-row">
                <div class="col" >
                    Admin User (password)
                </div>

            </div>
            <div class="row boha-info-panel-input-row">
                <div class="col-4 boha-info-panel-label-col"> 
                    User Name:
                </div>
                <div class="col-8">
                    <!--<div class="col">
                        <input type="text" placeholder="User Name" 
                        aria-label="User Name" class="form-control" [(ngModel)]="userName"/>
                    </div>-->
                    <span >{{userName}}</span>
                </div>
            </div>
            <div class="row boha-info-panel-input-row">
                <div class="col-4 boha-info-panel-label-col"> 
                Current Password:
                </div>
                <div class="col-8">
                    <input type="password" placeholder="Enter Current Password" 
                    aria-label="Password" class="form-control" [(ngModel)]="currentPassword" />
                </div>
            </div>
            <div class="row boha-info-panel-input-row">
                <div class="col-4 boha-info-panel-label-col"> 
                New Password:
                </div>
                <div class="col-8">
                    <input type="password" placeholder="Enter Password" 
                    aria-label="Password" class="form-control" [(ngModel)]="userPassword1" (keydown)="userPasswordKeyEvent($event)"/>
                </div>
            </div>
            <div class="row boha-info-panel-input-row">
                <div class="col-4 boha-info-panel-label-col"> 
                    Renter New Password:
                </div>
                <div class="col-8">
                    <input type="password" placeholder="Renter Password" 
                    aria-label="Reneter" class="form-control" [(ngModel)]="userPassword2" (keydown)="userPasswordKeyEvent($event)"/>
                </div>
            </div>
            <div class="row" style="line-height: 55px; height: 55px;">
                <div class="col" style="margin-top: 10px;">
                    <button class="btn boha-btn-primary"  type="submit" style="float: right;min-width: 100px;" 
                    (click)="saveUserInformation()" [disabled]="!userInfoTouched"><i class="fad fa-save"></i>&nbsp;Save</button>
                </div>
            </div>
        </div>
    </div>
</div>




