<!--
    text-align: center;
    margin-top: 10px;
    border: 1px solid var(--boha-neutral-gray-medium);
    border-radius: 5px;
    min-height: 300px;
    width: 100%;

    h3
    font-size: 1.75rem;
    /* background-color: var(--boha-primary-light-blue); */
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--boha-neutral-gray-medium);
    padding: 5px;

-->
<div class="boha-child-page">
     <!--AP MODE DETAILS-->
     <div class="boha-info-panel"  [ngClass]="{'connected-on' : apIPAddress == hostIPAddress}">
        <div class="boha-info-list" >
            <!--<h3>Home - Active Settings</h3>-->
         
            <div class="boha-relative-internal-container" >
                <div class="boha-overlay-action-panel" *ngIf="!refreshing && !apIPAddress.length > 0">
                    <a class="btn configure-link" href="#connect">
                        <i class="fas fa-router fa-lg"></i>&nbsp;
                        Click here to setup the Workstation's Access Point
                    </a>
                </div>
                <div class="row" style="height:40px">
                    <div class="col">
                        <i class="fad fa-lg" *ngIf="!refreshing" 
                        [ngClass]="{'fa-router' : apConnDetails.type =='802-11-wireless', 'fa-ethernet' : apConnDetails.type =='802-3-ethernet'}"></i>
                        <i class="fad fa-spinner-third fa-spin" *ngIf="refreshing"></i>
                        &nbsp;&nbsp;
                        <span style="font-weight: 700;"><a (click)="navigate('ap')">Access Point/{{apDevice}}</a></span>
                        <span class="connected-icon" *ngIf="apConnDetails != null && apConnDetails.primaryAddress != null">
                            <i class="fad fa-network-wired fa-lg" *ngIf="connectedOn(apConnDetails)"></i>
                            <i class="fad fa-check-circle fa-lg" *ngIf="!connectedOn(apConnDetails)"></i>
                        </span>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-2">SSID&nbsp;
                        [<i class="fad fa-lock-alt"></i>]:</div>
                    <div class="col-10">{{apConnDetails.ssid != null ? apConnDetails.ssid : 'NONE'}}&nbsp;[{{apConnDetails.security == null ? 'NONE' : apConnDetails.security}}]</div>
                </div>
                <div class="row">
                    <div class="col-2">Type:</div>
                    <div class="col-10">{{apConnDetails.type}}</div>
                </div>
                <div class="row">
                    <div class="col-2">Mode:</div>
                    <div class="col-10">{{apConnDetails.mode}}</div>
                </div>
                <div class="row">
                    <div class="col-2">MAC:</div>
                    <div class="col-10">{{apConnDetails.mac}}</div>
                </div>
                <div class="row">
                    <div class="col-2">IP:</div>
                    <div class="col-10">{{apConnDetails.primaryAddress}}&nbsp;[{{apConnDetails.method == 'auto' ? 'DHCP' : 'Static'}}]</div>
                </div>
                <div class="row">
                    <div class="col-2">Broadcast:</div>
                    <div class="col-10">{{apConnDetails.broadcast_address}}</div>
                </div>    
            </div>            
        </div>
    </div>
    <!--END AP MODE-->
    <div class="boha-info-panel" [ngClass]="{'connected-on' : isIPAddress == hostIPAddress}">
        <!--<h3>Home - Active Settings</h3>-->
        <!--INFRASTRUCTURE DETAILS-->
        <div class="boha-info-list">
            <div class="boha-relative-internal-container">
                <div class="boha-overlay-action-panel" *ngIf="!refreshing && !isIPAddress.length > 0">
                    <a class="btn configure-link" href="#connect">
                        <i class="fas fa-house-signal fa-lg"></i>&nbsp;
                        Click here to connect your Workstation to a WiFi Network
                    </a>
                </div>
                <div class="row" style="height:40px">
                    <div class="col">
                        <i class="fad fa-lg" *ngIf="!refreshing" 
                        [ngClass]="{'fa-wifi' : iStructureDetails.type =='802-11-wireless', 'fa-ethernet' : iStructureDetails.type =='802-3-ethernet'}"></i>
                        <i class="fad fa-spinner-third fa-spin" *ngIf="refreshing"></i>
                        &nbsp;&nbsp;
                            <span style="font-weight: 700;"><a (click)="navigate('is')">Infrastructure/{{isDevice}}</a></span>
                            <span class="connected-icon" *ngIf="iStructureDetails != null && iStructureDetails.primaryAddress != null">
                            <i class="fad fa-network-wired fa-lg" *ngIf="connectedOn(iStructureDetails)"></i>
                            <i class="fad fa-check-circle fa-lg" *ngIf="!connectedOn(iStructureDetails)"></i>
                        </span>
                    </div>
                </div>
     
                <div class="row">
                    <div class="col-2">SSID&nbsp;
                        [<i class="fad fa-lock-alt"></i>]:</div>
                    <div class="col-10">{{iStructureDetails.ssid != null ? iStructureDetails.ssid : 'NONE' }}&nbsp;[{{iStructureDetails.security == null ? 'NONE' : iStructureDetails.security}}]</div>
                </div>
                <div class="row">
                    <div class="col-2">Type:</div>
                    <div class="col-10">{{iStructureDetails.type}}</div>
                </div>
                <div class="row">
                    <div class="col-2">Mode:</div>
                    <div class="col-10">{{iStructureDetails.mode}}</div>
                </div>
                <div class="row">
                    <div class="col-2">MAC:</div>
                    <div class="col-10">{{iStructureDetails.mac}}</div>
                </div>
                <div class="row">
                    <div class="col-2">IP:</div>
                    <div class="col-10">{{iStructureDetails.primaryAddress}}&nbsp;[{{iStructureDetails.method == 'auto' ? 'DHCP' : 'Static'}}]</div>
                </div>
                <div class="row">
                    <div class="col-2">Broadcast:</div>
                    <div class="col-10">{{iStructureDetails.broadcast_address}}</div>
                </div>    
            </div>
           
        
       </div>
    </div>
    <div class="boha-info-panel boha-info-list" style="min-height: 60px;">
        <div class="row boha-info-panel-header-row">
            <div class="col">
                <i class="fad fa-magic fa-lg"></i>&nbsp;&nbsp;Avahi 
            </div>
        </div>
        <div class="row">
            <div class="col-2">Name:</div>
            <div class="col-10">{{avahiService.serviceName}}</div>
        </div>
        
    </div>
    <div class="boha-info-panel boha-info-list" style="min-height: 60px;" *ngIf="isTestMode">
        <div class="row boha-info-panel-header-row">
            <div class="col">
                Connectivity Testing 
            </div>
        </div>
        <div class="row">
            <div class="col-3">hrefs</div>
            <div class="col-3">Requests</div>
            <div class="col-3">Bytes Received</div>
            <div class="col-3">Errors</div>
        </div>
        <div class="row">
            <div class="col-3">{{windowLoads}}</div>
            <div class="col-3">{{remoteRequestCount}}</div>
            <div class="col-3">{{remoteByteCount}}</div>
            <div class="col-3">{{remoteErrorCount}}</div>
        </div>
        <div class="row">
            <div class="col"><button class="btn btn-primary" style="float: right" (click)="startStopTest()">{{testInterval != null ? 'Stop' : 'Start'}}</button></div>
        </div>
    </div>
    
</div>



