.connected-on{
    border: 2px solid rgba(50, 205, 50, .55);
}

.configure-link{
    position: relative;
    color:var(--boha-primary-medium-blue); 
    line-height: 40px; 
    width:100%; 
    height: 100%;
    font-weight: 700;
}
.connected-icon{
    float:right; 
    margin-right: 5px; 
    color:var(--boha-secondary-green)
}
.configure-link:hover{
    background-color: var(--boha-primary-natural-blue);
    color: var(--boha-neutral-gray-very-light);
    /*#1D5DCB;*/
 }
 .configure-link:active{
    background-color: var(--boha-primary-light-blue);
    color: var(--boha-neutral-gray-very-light);
    border: none;
    /*#1A98FF*/
 }